.card{
  display: flex;
}
.main-userprofile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4{
  margin-top: 20px;
  margin-bottom: 20px;
}

.show-main-page{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.my-posts-show{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.butt-edit-comment{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: normal;
}

.butt-del-edit{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
button{
  margin-top: 5px;
}
textarea{
  resize: none;
  height: 100px;
}
