<div class="search-users">
  <div class="show-users">
  <div *ngFor="let item of users" class="card">
    <div class="card-body">
      <div class="user-info">
        <h5>{{item.name}} </h5>
        <div class="user-info-date">
          <span class="badge badge-pill badge-primary">{{item.gender}}</span>
          <span class="badge badge-secondary">{{item.birthday | date}}</span>
        </div>
      </div>

      <img width="100 rem" src="{{item.img}}">

    </div>
  </div>
  </div>
<div class="centerbox">
  <div class="input-for-edit">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Name</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name" [(ngModel)]="filter.name">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Gender</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" name="name" [(ngModel)]="filter.gender">
        <option   value="Male">Male</option>
        <option  value="Fame">Fame</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Country</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name" [(ngModel)]="filter.country">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">City</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name" [(ngModel)]="filter.city">
    </div>
  </div>
  <button (click)="filterForSearch(filter)" class="btn btn-success">Search</button>
</div>


</div>
