<div class="search-users">
  <div class="show-users">
  <div *ngFor="let item of users" class="card">
    <div *ngIf="userIdByAuth==item.userProfileId" class="card-body" style="align-items: flex-start">
      <button disabled type="button" class="btn btn-success">Add to friends</button>
      <div class="user-info"  style="display: flex; flex-direction: column;align-items: flex-end;">
        <a (click)="goToUserProfile(item.userProfileId)"> <h5>{{item.name}} </h5></a>
        <div class="user-info-date">
          <span class="badge badge-pill badge-primary">{{item.gender}}</span>
          <span class="badge badge-secondary">{{item.birthday | date}}</span>
        </div>
      </div>
      <img type="button" width="100 rem" (click)="goToUserProfile(item.userProfileId)" class="rounded-circle"  src="{{item.img}}">
    </div>
    <div *ngIf="userIdByAuth!=item.userProfileId" class="card-body" style="align-items: flex-start">
      <button type="button" (click)="addToFriends(item.userProfileId)" class="btn btn-success">Add to friends</button>
      <div class="user-info"  style="display: flex; flex-direction: column;align-items: flex-end;">
        <a (click)="goToUserProfile(item.userProfileId)"> <h5>{{item.name}} </h5></a>
        <div class="user-info-date">
          <span class="badge badge-pill badge-primary">{{item.gender}}</span>
          <span class="badge badge-secondary">{{item.birthday | date}}</span>
        </div>
      </div>
      <img type="button" width="100 rem" (click)="goToUserProfile(item.userProfileId)" class="rounded-circle" src="{{item.img}}">
    </div>
  </div>
  </div>
<div class="centerbox">
  <div class="input-for-edit">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Name</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name" [(ngModel)]="filter.name">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Gender</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" name="name" [(ngModel)]="filter.gender">
        <option   value="Male">Male</option>
        <option  value="Female">Female</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Country</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name" [(ngModel)]="filter.country">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">City</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name" [(ngModel)]="filter.city">
    </div>
  </div>
  <button (click)="filterForSearch(filter)" class="btn btn-success">Search</button>
</div>


</div>
