a:visited {
  color: #800080; /* Цвет посещённой ссылки */
}
a:hover {
  color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */
  text-decoration: underline; /* Добавляем подчеркивание */
}
