<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">All Users</a>
    <a class="navbar-brand text-white">{{userAuth.userName}}<br>{{userAuth.email}}</a>



    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </nav>
  <div class="card m-5" style="width:18rem">
    <ul *ngFor="let item of users" class="list-group">
      <li class="list-group-item"><strong>Username : </strong>{{item.userName}}</li>
      <li class="list-group-item"><strong>Email : </strong>{{item.email}}</li>
    </ul>
  </div>
  

 
  
